* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: black; 
}

button {
    color: white;
    font-size: 18px;
    text-align: center;
    width: 80px;
    padding: 2px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.log_holder {
    font-family: cursive, Arial, Helvetica, sans-serif;
    position: absolute;
    width: 33%;
    right: 0;
    margin: 2rem 0;
    margin-right: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.log {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.property {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
}

.property_name {
    display: inline-block;
}

.unit {
    display: inline-block;
    color: blanchedalmond;
}

.value {
    font-family: monospace;
    font-size: large;
}

.log_holder, .log, .property, .property_name, .unit, .value {
    background: none;
}